@charset "UTF-8";
/*Обнуление*/
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html {
}

body {

}



/* Переменные*/
.title {
  font-family: "TTTrailers-Bold";
  font-size: 61px;
  color: black;
}

.subtitle {
  font-family: "TTCommons-DemiBold";
  font-size: 27px;
  color:black;
}

.slogan {
  font-family: "TTCommons-Regular";
  font-size: 22px;
  color: black;
}

.text {
  font-family: "TTCommons-Regular";
  font-size: 20px;
  color: white;
}

.link {
  font-family: "TTCommons-ExtraBold";
  font-size: 30px;
  color: white;
}

.title-menu {
  font-family: "Manrope";
  font-size: 25px;
  color: black;
  font-weight: 700;
}

.padding-all {
  padding: 0 100px;
}

/* Переменные - конец*/
.alert-height {
  display: none;
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 1;
  transition: opacity 0.6s ease-out;
}

.vremenno {
  height: 100%;
  width: 100%;
  background: #E3D9C6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  display: none;
}

.hello {
  width: 100%;
  height: fit-content;
}

/*Страница статистики*/
.statistic {
  width: 100%;
  height: 100%;
  background: white;
  overflow: auto;
}
.statistic .statistic__container .statistic__block .statistic__text {
  font-style: "Manrope";
  font-weight: 500;
  font-size: 20px;
  margin: 20px 0;
}

@media only screen and (max-width: 780px) {
  .title {
    font-size: 61px;
  }

  .slogan {
    font-size: 22px;
  }

  .subtitle {}

  .btn {
    border-radius: 31.875px;
    padding: 10px 35px;
    text-align: center;
    font-family: "TTCommons-DemiBold";
    font-size: 20px;
    line-height: 1.2;
  }

  .btn-red {
    background: #DD3B3B;
    color: white;
  }

  .btn-green {
    background: #41CC68;
    color: white;
  }

  .container {
    margin: 0 auto;
    padding: 0 30px;
    width: 100%;
    height: 100%;
  }

  .vremenno {
    display: none;
  }

  .header {
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 100;
  }

  .header__content {
    position: relative;
    width: 100%;
    min-height: 100%;
  }

  .header__content:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    height: 100%;
    clip-path: inset(0% 100% 0% 0%);
    z-index: 1;
    transition: all 1.0s ease;
  }

  .header__content.active::before {
    clip-path: inset(0% 0% 0% 0%);
    transition: all 1.0s ease;
  }

  .header__body {
    padding: 20px 0;
  }

  .header__burger {
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 100;
  }

  .header__slogan {
    position: absolute;
    top: 50%;
    transform: translate(0%, -35%);
    left: 40px;
    font-family: "TTCommons-Bold";
    clip-path: inset(0% 0% 0% 0%);
    transition: all 0.2s ease;
    }

  .header__burger span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 5px;
    transition: all 0.2s ease;
  }

  .header__burger::after,
  .header__burger::before {
    content: "";
    position: absolute;
    left: 0;
    height: 4px;
    background-color:black;
    border-radius: 5px;
    transition: all 0.2s ease;
  }

  .header__burger::after {
    top: 0;
    width: 90%; 
  }

  .header__burger::before {
    bottom: 0;
    width: 70%;
  }

  .header__burger.active::after {
    background-color: white;
    transform: rotate(45deg);
    top: 10px;
    width: 100%;
    transition: all 0.2s ease; 
  }

  .header__burger.active::before {
    background-color: white;
    transform: rotate(-45deg);
    top: 10px;
    width: 100%;
    transition: all 0.2s ease; 
  }

  .header__burger.active span {
    opacity: 0;
    transition: all 0.2s ease; 
  }

  .header__burger.active .header__slogan {
    clip-path: inset(0% 100% 0% 0%);
    transition: all 0.2s ease;
  }

  .header__menu {
    position: fixed;
    padding: 80px 0 0 0;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #D1B091;
    transform: translate(-100%, 0%);
    transition: all 0.5s ease;
    border-color: transparent;
    z-index: 10;
  }

  .header__menu.active {
    transform: translate(0%, 0%);
    transition: all 0.5s ease;
    border-color: transparent;
    z-index: 10;
  }

  .header__list li {
    margin-bottom: 16px;
  }

  .header__list li:last-child {
    margin-bottom: 0;
  }

  .banner {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: flex-end;
    z-index: 100;
    opacity: 0;
    transition: all 1s ease;
  }

  .banner.active {
    opacity: 1;
    display: flex;
  }

  .banner__content {
    background-color: #DD3B3B;
    padding: 40px 40px;
    border-radius: 20px;
    margin-bottom: 30px;
    z-index: 1;
  }

  .banner__content .subtitle {
    color: white;
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px;
  }

  .banner__btn-container {
    display: flex;
  }

  .banner__btn-container button {
    margin-right: 10px;
  }

  .banner__btn-container button:last-child {
    margin-right: 0px;
    background-color: #2f3038;
  }

  .banner__btn-container button:first-child {
    background-color: #137167;
  }

  .banner__btn {
    width: 100%;
    padding: 10px 14px;
    font-family: "TTCommons-Bold";
    color: white;
    border-radius: 20px;
    font-size: 18px;
  }


  .home {
    width: 100%;
    height: 100vh;
  }

  .home__intro {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home__item {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
  }

  .home__item .btn-pc {
    display: none;
  }

  .btn-pc {

  }

  .home__title {
    text-align: center;
    margin-bottom: 15px;
  }

  .home__slogan {
    max-width: 260px;
    text-align: center;
    margin-bottom: 30px;
  }

  .home__img {
    max-width: 220px;
    margin-bottom: 40px;
  }

  .home__img img {
    width: 100%;
    object-fit: fill;
    object-position: center;
  }

  .home__btn {}

  .home__background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: white;
  }

  .about {
    background: #DD3B3B;
    width: 100%;
    height: fit-content;
    padding: 90px 0px;
  }

  .about .container {
    height: auto;
  }

  .about__intro {
    height: auto;
    width: 100%;
  }

  .about__intro .title {
    margin-bottom: 30px;
  }

  .text-content {
    margin-bottom: 35px;
  }

  .text-content:last-child {
    margin-bottom: 0px;
  }

  .text-content .subtitle {
    margin-bottom: 13px;
  }

  .text-content .text {
    margin-bottom: 5px;
  }

  .text-content .text:last-child {
    margin-bottom: 0;
  }
  
  
  .xmas-kids {
    width: 100%;
    height: fit-content;
    background: #137167;
    padding: 90px 0px;
  }

  .xmas-kids .container {
    height: auto;
  }

  .xmas-kids__intro {
    height: auto;
    width: 100%;
  }

  .xmas-kids__intro .title {
    text-align: center;
    margin-bottom: 15px;
  }

  .contact-table {
    margin-bottom: 30px;
  }

  .contact-table__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px 25px;
    position: relative;
    z-index: 0;
  }

  .contact-table__item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 0px 25px;
  }

  .contact-table__item span {
    font-family: "TTCommons-DemiBold";
  }

  .caption {
    font-family: "TTCommons-Bold";
    padding: 7px 15px;
    background-color: #8E2E48;
    border-radius: 20px;
    width: fit-content;
    color: white;
    margin: 0 auto;
  }

  .description__text {
    margin-bottom: 20px;
  }

  .description__text:last-child {
    margin-bottom: 0px;
  }

  .img-dash {
    width: 100%;
    height: 80%;
    margin-bottom: 20px;
  }

  .img-dash:last-child {
    margin-bottom: 0px;
  }

  .img-dash img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 11px;
    border: 2px dashed white;
  }

  .xmas-church {
    width: 100%;
    height: fit-content;
    background: #D1B091;
    padding: 90px 0px;
  }

  .xmas-church .container {
    height: auto;
  }

  .xmas-church__intro {
    height: auto;
    width: 100%;
    padding-bottom: 10px;
  }

  .xmas-church__intro .title {
    text-align: center;
    margin-bottom: 15px;
    color: white;
  }

}

@media only screen and (max-height: 650px) {

  .home {}

  .home__intro {

  }

  .home__title {
    margin-bottom: 15px;
  }

  .home__slogan {
    margin-bottom: 26px;
  }

  .home__img {
    margin-bottom: 0px;
  }

  .home__btn {
    display: none;
  }
}

@media (min-width: 781px) {

  .btn-pc {
    border-radius: 31.875px;
    padding: 20px 45px;
    text-align: center;
    font-family: "TTCommons-DemiBold";
    font-size: 20px;
    line-height: 1.2;
  }

  .btn-red {
    background: #DD3B3B;
    color: white;
  }

  .btn-green {
    background: #41CC68;
    color: white;
  }

  .title {
    font-size: 100px;
  }

  .slogan {
    font-size: 40px;
  }

  .header {
    position: fixed;
    width: 100%;
    z-index: 100;
  }

  .header__content {
    position: relative;
    width: 100%;
    min-height: 100%;
  }

  .header__content:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #137167;
    width: 100%;
    height: 100%;
    clip-path: inset(0% 100% 0% 0%);
    z-index: -1;
    transition: all 1.0s ease;
  }

  .header__content.active::before {
    clip-path: inset(0% 0% 0% 0%);
    transition: all 1.0s ease;
    z-index: -1;
  }

  .header__body {
    padding: 25px 0;
    z-index: 100;
  }

  .header__burger {
    display: none;
  }

  .header__menu .container {
    padding: 0;
  }

  .header__list {
    display: flex;
  }

  .header__list li {
    margin-right: 50px;
  }

  .header__list li:last-child {
    margin-right: 0px;
  }

  .header__link {
    font-size: 20px;
  }

  .home {
    width: 100%;
    height: 100vh;
  }

  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 40px;
    height: 100%;
  }

  .home__intro {
    height: 100%;
    width: 100%;
    display: flex;
  }

  .home__intro .home__item:last-child {
    align-items: center;
  }

  .home__item {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }

  .home__title {
    text-align: start;
    margin-bottom: 15px;
  }

  .home__slogan {
    text-align: start;
    margin-bottom: 40px;
  }

  .home__img {
    max-width: 450px;
    margin-bottom: 40px;
  }

  .home__img img {
    width: 100%;
    object-fit: fill;
    object-position: center;
  }

  .home__btn {
    display: none;
  }

  .home__background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }

  .home__background-img img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  .about {
    background: #DD3B3B;
    width: 100%;
    height: fit-content;
    padding: 90px 0px;
  }

  .about .container {
    height: auto;
  }

  .about__intro {
    height: auto;
    width: 100%;
  }

  .about__intro .title {
    margin-bottom: 30px;
  }

  .text-content {
    margin-bottom: 35px;
  }

  .text-content:last-child {
    margin-bottom: 0px;
  }

  .text-content .subtitle {
    margin-bottom: 13px;
  }

  .text-content .text {
    margin-bottom: 5px;
  }

  .text-content .text:last-child {
    margin-bottom: 0;
  }

  .xmas-kids {
    width: 100%;
    height: fit-content;
    background: #137167;
    padding: 90px 0px;
  }

  .xmas-kids .container {
    height: auto;
  }

  .xmas-kids__intro {
    height: auto;
    width: 100%;
  }

  .xmas-kids__intro .title {
    text-align: center;
    margin-bottom: 15px;
  }

  .contact-table {
    margin-bottom: 30px;
  }

  .contact-table__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px 25px;
    position: relative;
    z-index: 0;
  }

  .contact-table__item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 0px 25px;
  }

  .contact-table__item span {
    font-family: "TTCommons-DemiBold";
  }

  .caption {
    font-family: "TTCommons-Bold";
    padding: 7px 15px;
    background-color: #8E2E48;
    border-radius: 20px;
    width: fit-content;
    color: white;
    margin: 0 auto;
  }

  .description__text {
    margin-bottom: 20px;
  }

  .description__text:last-child {
    margin-bottom: 0px;
  }

  .img-dash {
    width: 100%;
    height: 80%;
    margin-bottom: 20px;
  }

  .img-dash:last-child {
    margin-bottom: 0px;
  }

  .img-dash img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 11px;
    border: 2px dashed white;
  }

  .xmas-church {
    width: 100%;
    height: fit-content;
    background: #DD3B3B;
    padding: 90px 0px;
  }

  .xmas-church .container {
    height: auto;
  }

  .xmas-church__intro {
    height: auto;
    width: 100%;
  }

  .xmas-church__intro .title {
    text-align: center;
    margin-bottom: 15px;
  }
}