@charset "UTF-8";
/*Обнуление*/
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html {
  will-change: clip-path;
}

body {
  overflow: hidden;
  background: black;
  will-change: clip-path;
}

/* Переменные*/
.title {
  font-family: "TTTrailers-Bold";
  font-size: 61px;
  color: rgb(255, 255, 255);
}

.subtitle {
  font-family: "Manrope";
  font-size: 20px;
  font-weight: 400;
  color: black;
}

.slogan {
  font-family: "TTCommons-Regular";
  font-size: 22px;
  color: white;
}

.title-menu {
  font-family: "Manrope";
  font-size: 25px;
  color: black;
  font-weight: 700;
}

.padding-all {
  padding: 0 100px;
}

/* Переменные - конец*/
.alert-height {
  display: none;
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 1;
  transition: opacity 0.6s ease-out;
}

.vremenno {
  height: 100%;
  width: 100%;
  background: #E3D9C6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  display: none;
}

.header {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  -webkit-clip-path: inset(0% 0% 0% 100%);
          clip-path: inset(0% 0% 0% 100%);
  transition: -webkit-clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1);
  transition: clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1);
  transition: clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1), -webkit-clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1);
  will-change: clip-path;
}

.about {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-clip-path: inset(0% 0% 0% 100%);
          clip-path: inset(0% 0% 0% 100%);
  transition: -webkit-clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1);
  transition: clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1);
  transition: clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1), -webkit-clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1);
  will-change: clip-path;
}

.jesus {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-clip-path: inset(0% 0% 0% 100%);
          clip-path: inset(0% 0% 0% 100%);
  transition: -webkit-clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1);
  transition: clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1);
  transition: clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1), -webkit-clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1);
  will-change: clip-path;
}

.dot {
  position: fixed;
  bottom: 10%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  z-index: 100;
}
.dot .dot__item {
  background: black;
  margin: 0 7px;
  width: 60px;
  height: 60px;
}
.dot .dot__item span {
  font-size: 15px;
  color: white;
}
.dot .dot__item_active {
  width: 60px;
  height: 60px;
  background: #D6C7AA;
}

.active-page {
  -webkit-clip-path: inset(0%) !important;
          clip-path: inset(0%) !important;
}

/*Страница статистики*/
.statistic {
  width: 100%;
  height: 100%;
  background: white;
  overflow: auto;
}
.statistic .statistic__container .statistic__block .statistic__text {
  font-style: "Manrope";
  font-weight: 500;
  font-size: 20px;
  margin: 20px 0;
}

@media only screen and (max-width: 780px) {
  .title {
    font-size: 61px;
  }

  .slogan {
    font-size: 22px;
  }

  .subtitle {}

  .btn {
    background: #DD3B3B;
    border-radius: 31.875px;
    padding: 10px 35px;
    text-align: center;
    font-family: "TTCommons-DemiBold";
    font-size: 20px;
    color: white;
    line-height: 1.2;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    margin: 0 auto;
    padding: 0 30px;
    width: 100%;
    height: 100%;
  }

  .vremenno {
    display: none;
  }

  .mn-burger {
    display: none;
  }
  .mn-burger .mn-burger__button {
    z-index: 100;
    width: 33px;
    height: 20px;
    position: absolute;
    top: 40px;
    left: 40px;
  }
  .mn-burger .mn-burger__button .mn-burger__container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  .mn-burger .mn-burger__button .mn-burger__container .mn-burger__line {
    width: 100%;
    height: 2px;
    background: white;
  }
  .mn-burger .mn-burger__button .mn-burger__container:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: white;
  }
  .mn-burger .mn-burger__button .mn-burger__container:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: white;
  }

  .header {}

  .header__intro {
    height: 100%;
    width: 100%;
  }

  .header__title {
    text-align: center;
    margin-bottom: 15px;
  }

  .header__slogan {
    max-width: 140px;
    text-align: center;
    margin-bottom: 30px;
  }

  .header__img {
    max-width: 220px;
    margin-bottom: 40px;
  }

  .header__img img {
    width: 100%;
    object-fit: fill;
    object-position: center;
  }

  .header__btn {}

  .header__background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .header__background-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  .active-page {
    -webkit-clip-path: inset(0%) !important;
            clip-path: inset(0%) !important;
  }

  .about {
    display: block;
    background: #DD3B3B;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-clip-path: inset(0% 0% 0% 100%);
            clip-path: inset(0% 0% 0% 100%);
    transition: -webkit-clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1);
    transition: clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1);
    transition: clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1), -webkit-clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1);
    will-change: clip-path;
  }

  .about__intro {
    margin-top: 70px;
  }
  
  .jesus {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #E3D9C6;
    overflow: hidden;
    -webkit-clip-path: inset(0% 0% 0% 100%);
            clip-path: inset(0% 0% 0% 100%);
    transition: -webkit-clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1);
    transition: clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1);
    transition: clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1), -webkit-clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1);
    will-change: clip-path;
  }

  .trust {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #E3D9C6;
    overflow: hidden;
    -webkit-clip-path: inset(0% 0% 0% 100%);
            clip-path: inset(0% 0% 0% 100%);
    transition: -webkit-clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1);
    transition: clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1);
    transition: clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1), -webkit-clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1);
    will-change: clip-path;
  }

  .contacts {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    overflow: hidden;
    -webkit-clip-path: inset(0% 0% 0% 100%);
            clip-path: inset(0% 0% 0% 100%);
    transition: -webkit-clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1);
    transition: clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1);
    transition: clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1), -webkit-clip-path 0.5s cubic-bezier(0.8, 0.045, 0.355, 1);
    will-change: clip-path;
  }

  .dot {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    z-index: 100;
  }
  .dot .dot__item {
    background: transparent;
    margin: 0 7px;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    border: 2px solid rgb(255, 255, 255);
  }
  .dot .dot__item span {
    display: none;
  }
  .dot .dot__item_active {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 0px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
  }
}
@media only screen and (max-width: 480px) {
  .title {

  }

  .subtitle {
    font-size: 19px;
  }
}
@media only screen and (max-width: 370px) {
  .mn-burger .mn-burger__button {
    top: 40px;
    left: 30px;
  }
  .title {
 
  }

  .subtitle {
    font-size: 16px;
  }
}
@media only screen and (max-width: 320px) {}

@media only screen and (max-height: 650px) {

  .header {}

  .header__intro {

  }

  .header__title {
    margin-bottom: 15px;
  }

  .header__slogan {
    margin-bottom: 26px;
  }

  .header__img {
    margin-bottom: 0px;
  }

  .header__btn {
    display: none;
  }
}